 :root{
    --sizeTable :20px;
 }

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
table{
  
    width: 100%;
}
tr {
     
    padding: 0;
 
}
th, td {
       border: 1px solid black;
    text-align: center;
}
th{
  font-size:var(--sizeTable);
    width: 290px;
}
td { 
    text-align: center;
    padding: 0;
}
#widthCroad{
width: 80px;
}
#widthCroadImgs{
width: 120px;
}
#widthCroadPhone{
width: 150px;
}

table input {
    text-align: center;
    width: 90%;
    padding-top: 7px;
    padding-bottom:7px ;
    border-radius: 6px;
    box-shadow:2px 2px 5px -2px #000000;
    box-shadow: inset 2px 2px 5px -2px #000000;
    border: none;
    color: #000000;
    text-shadow: 0 0 1.5px  #f68859;
    font-size: var(--sizeTable);
}
p {
    color: red;
    text-shadow: 0 0 12px red;
}
#allcrodtableselecte {
    background-image:linear-gradient(12deg , rgba(0, 51, 255, 0.255), rgba(99, 98, 98, 0.304), rgba(1, 92, 177, 0.381)) ;
}
img {
    width: 100%;
    border-radius: 12px;
    box-shadow:2px 2px 5px -2px #000000;

}

#hidden{
    width: 100%;
    height: 150px;
    background:#8f8b884d;
    border-radius:5px;
    display: flex; 
    align-items: center;
    flex-direction: column;
}
#hidden h2{
margin-top: -3px;
}
#hidden h1 {
    font-size: 50px; 
    font-weight: bold; 
    background-image: url('CLIENT_ADD/img/background.jpg');
    background-size: 112px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
margin-top: -14px;

}
#Ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; 
    width: 50%;
    list-style-type: none;
margin-top: -19px;

}
li a{
    text-decoration: none;
    color: blue;
    text-shadow: 0 0 2px black;
    font-size: 22px;
    margin: 0 20px 0 -20px ;
}
li a:hover{
    color: rgb(0, 0, 180);
    text-shadow: 0 1px 2px rgb(0, 0, 0);
}

 


 